body {
  background-image: url("./recorder_graphic_arts_music-657273.jpg!d");
  background-size: contain;
  font-family: sans-serif;
  background-color: #1c1c1c;
  color: white;
}

.btn {
  background-color: transparent;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.controls {
  margin-top: 40px;
  margin-left: 320px;
  display: flex;
  justify-content: center;
}

.btn:hover {
  color: rgb(0, 255, 106);
}

.playing {
  margin-top: 340px;
  margin-left: 320px;
  text-align: center;
} 